// settings
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
$font-main: "Archivo", sans-serif;
$fontIcon: "icomoon";

:root {
    --Black: #000000;
    --White: #ffffff;
    --Primary: #3C5250;
    --Secondary: #6B8A87;
    --Third: #f4d118;
    --Four: #c72929;
    --Color-1: #E8EFEE;
    --Color-3: #5e5a56;
    --Color-4: #3C5250;
    --Outline: #e4e4e4;
    --Placeholder: #abb0b4;
    --Border: rgba(255, 255, 255, 0.1);
}